body {
	font-family: verdana;
	background-color: black;

}

nav {
	background-color: transparent;
	color: deeppink;
	font-size: 10px;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
		argin-bottom: 10px;
}

.sticky {
  		position: fixed;
  		top: 0;
  		width: 100%;
}
		
section {
		color: hotpink;
		font-family: verdana;
		font-size: 10px;
		align-content: center;
		margin-bottom: 10px;
}

h1 		{
		color: deeppink;
		font-size:  20px;
		font-weight: bold;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
}

h2 		{
		color: deeppink;
		font-size: 20px;
		font-weight: bold;
		font-family: verdana;
}

h4 		{
		color: hotpink;
		background-color: black;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 0px;
}

a 		{
		color: hotpink;
		font-size:  10px;
		font-family: verdana;
}

a.navig {
		color: hotpink;
		font-size:  30px;
		font-family: courier new;
		width:  200px;
}

.highlight {
			color: white;
			font-size: 10px;
			font-family: verdana;
			text-align: center;
			background-color: #2C2C2Ce;
			opacity: 0.9;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
}

p 	{
	font-size: 60px;
	font-family: courier new;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

p.parallax {
  			background-image: url("milky-way-gd7a320516_1920.jpg");
  			min-height: 500px;
  			background-attachment: fixed;
 			background-position: center;
  			background-repeat: no-repeat;
 			background-size: cover;
 			font-size: 40px;
 			color: white;
 			font-family: courier new;
 }

header a {


}

a:link, a:visited {
				text-decoration:  none;
				background-color: black;
				border:  3px solid deeppink;
				color: deeppink;
				display: inline-block;
				text-align: center;
				margin-bottom: 1px;
}	

a:hover, a:active {
					background-color: transparent;
					color: black;


}